.read-only-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid red;
}

.custom-image-wrapper {
    border: 3px solid greenyellow;
}

.custom-left {
    color: orange;
    font-size: 24px;
}

.custom-controls-root {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 3px;
    border: 1px solid burlywood;
}

.custom-controls-button {
    padding: 5px 10px;

}
